body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
    color: #333;
    line-height: 1.6;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4c93af;
    height: 80px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #2196f3, #1976d2);
    z-index: -1;
}

.navbar-inner .logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1.5s ease-in-out;
}
.title{
    color: white;
}

.navbar-inner .title {
    font-size: 0;
    opacity: 0;
    color: white;
    font-weight: bold;
    margin-left: 20px;
    transition: all 1.5s ease-in-out;
}

.navbar-loaded .logo {
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

.navbar-loaded .title {
    font-size: 24px;
    opacity: 1;
    margin-left: 80px;
    position: center;
}

@media (max-width: 768px) {
    .navbar {
        height: 100px;
    }
    .navbar-inner .title {
        font-size: 20px;
    }
    .navbar-inner .logo {
        width: 50px;
        height: 50px;
    }
}



.login-container {
    max-width: 400px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login-container .btn-cadastro{
    all: unset; 
    color: blue; 
    text-decoration: underline; 
    cursor: pointer;
}

.login-container h1 {
    text-align: center;
    color: #1976d2;
    margin-bottom: 20px;
}

.input-container {
    margin-bottom: 15px;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    background: linear-gradient(135deg, #2196f3, #1976d2);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: #1976d2;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.register {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register a {
    color: #1976d2;
    text-decoration: none;
    font-weight: bold;
}

.register a:hover {
    text-decoration: underline;
}

.toolbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, #2196f3, #1976d2);
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    animation: fadeInUp 0.5s ease-out; /* Ajustado */
}

.toolbar-inner {
    display: flex;
    justify-content: space-around; /* Alterado de space-evenly para space-around */
    width: 100%;
    max-width: 600px;
}

.tab-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    transition: transform 0.2s ease, color 0.2s ease;
    flex: 1; /* Ajustado para maior responsividade */
    text-align: center; /* Adicionado */
    position: relative;
}

.tab-link.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    width: 6px;
    height: 6px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: opacity 0.3s ease;
    opacity: 1;
}

.tab-link:not(.active)::after {
    opacity: 0;
}
 
.tab-link:hover {
    transform: scale(1.1);
    color: #fdfdfd;
}

.tab-link i {
    font-size: 24px;
    margin-bottom: 4px;
    transition: color 0.2s ease;
}

.tab-link:hover i {
    color: #ffffff;
}

.tab-link span {
    font-size: 12px;
    text-transform: uppercase;
}

@keyframes fadeInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
